<div id="<%= dom_id frequentquestion %>">
  <p>
    <strong>Question:</strong>
    <%= frequentquestion.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= frequentquestion.answer %>
  </p>

</div>
