<%= render @about_u %>

<div>
  <%= link_to t('common.edit'), edit_about_u_path(@about_u) %> |
  <%= link_to t('common.back'), about_us_path %>

  <%= button_to t('common.delete'), @about_u, method: :delete %>
</div>
