<div class="container text-center mt-4">
  <h1><%= t('.available_categories') %></h1>
</div>  
<div class="container text-center mt-4">
  <%= render partial: 'category', collection: @categories %>
</div>
