<div>
  <%= link_to product_path(product), class: 'product', 'data-turbo-frame': '_top' do %>
    <%= image_tag product.photos.attached? ? product.photos.first : 'no-photo.jpg', width: 300 %>
    <h2><%= product.name %></h2>
    <span><%= product.price %>$</span>
  <% end %>  
</div>


    
