<div>
  <%= link_to product_path(product), class: 'product', 'data-turbo-frame': '_top' do %>
    <% if product.photos.attached? %>
      <%= image_tag product.photos.first, width: 100  %>
      <!-- Muestra la primera foto si está adjunta -->
    <% end %>
    <h2><%= product.name %></h2>
    <span><%= product.price %>$</span>
  <% end %>  
</div>
