<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h1 class="text-center"><%= t('.new_product') %></h1>
      <%= render "form", product: @product %>
    </div>
  </div>
</div>
